/ News aside
%aside.article_all_news.article_add_news.article_html_news.article_css_news.article_other_news
  %div
    %ul
      %li
        %a{:href => "/news"}
          .aside_all_news
            %span.h4 * All News
      %li
        %a{:href => "/news/add"}
          .aside_add_news
            %span.h4 + Add News
/ Common content
%section#content
  - @@show_all_news.each do |news|
    %article.article_all_news
      %header.title
        %h3
          %a{:href => "/news/show/#{news[:id]}"}
            = news[:title]
          .date
            = news[:date]
      .article_content.cuttted_content
        %p
          = news[:content]
      %span.post_category
        = news[:cat_id]
      %span.post_author
        %a{:href => "#"}
          = news[:author]
      %span.post_tags
        %a{:href => "#"} TODO: add tags
      %span.post_comments
        = news[:id]
      %a{:href => "/news/show/#{news[:id]}"}
        %span.read_it read more
      %a{:href => "/news/edit/#{news[:id]}"}
        %span.edit_it
      %a{:href => "/news/delete/#{news[:id]}"}
        %span.delete_it
:javascript
    show_menu("all_news");